* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
    "aside"
    "section"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  width: 100%;
  background-color: #a1dbb2;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  grid-area: aside;
  background-color: #fee5ad;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.titulo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 15px;
}
.lista {
  display: none;
}

.lista ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
section {
  background-color: #f45d4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 0.5rem;
  grid-area: section;
}
select {
  padding: 0.5rem 8rem;
}
select:hover {
  background-color: lightblue;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*   width: 100%; */
  height: 100%;
  overflow-y: auto;
  grid-area: main;
  
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  overflow-x: hidden;
  /* overflow-y: scroll; */
  gap: 1rem;
  width: 100%;
  height: 100%;
  
}
.product {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0.5rem;
  max-height: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(150, 152, 153, 0.355);
}



main img {
  width: 100%;
  object-fit: contain;
  border-radius: 10%;
}

button {
  background-color: #f7a541;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: #fee5ad;
  border-radius: 4px;
}

button:hover {
  background-color: #fee5ad;
}

footer {
  grid-area: footer;
}
aside a,
li {
  text-decoration: none;
  list-style: none;
}
.products::-webkit-scrollbar {
  width: 13px;
}
.products::-webkit-scrollbar-thumb {
  background-color: #f7a541;
  /* border-radius: 10px; */
}
.products::-webkit-scrollbar-track {
  background-color: #f45d4c;
}
.numeracion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: #f45d4c;
  width: 100%;
  gap: 5px;
  padding: 1rem 0;
}
.numeracion a {
  text-decoration: none;
  border: 1px solid #000000;
  padding: 3px 8px;
  background-color: white;
}

footer {
  background-color: #faca66;
  color: white;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 576px) {
  .lista {
    display: flex !important;
    flex-wrap: wrap;
  }
  body {
    grid-template-areas:
      "aside section"
      "aside main"
      "footer main";
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr 7fr;
    margin: 0;
    width: 100%;
    height: 100vh;
  }
  aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    
  }
  .titulo {
    margin: 20px 0 20px 0;
    
  }
  .lineas i {
    display: none !important;
  }
  main {
    grid-area: main;
    width: 100%;
   
  }
  footer {
    grid-area: footer;
  }
  section {
    height: 4rem;
  }
  select {
    padding: 0.5rem 48rem;

  }
img:hover {
  transform: scale(1.3);
  border-radius: 8px;
 
}
  
}

